* {
    font-family: 'Tajawal', sans-serif;
}

body {
    margin: 0px;
}

#whole-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#Header {
    display: flex;
    width: 100vw;
    background-color: #FF5151;
    height: 120px;
}

#profile-icon {
    background: transparent;
    border: 0px;
    font-size: 50px;
    margin-top: 20px;
    margin-left: -15px;
}

#marginer-h1 {
    margin-right: 1150px;
    padding: 0px 0px 0px 61px;
    white-space: nowrap;
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: 100;
    font-size: 50px;
}

#marginer-hello {
    margin-right: 20px;
    white-space: nowrap;
    padding: 25px 0px 0px 0px;
    font-weight: 150;
}

i {
    margin-right: 11px;
}

.navigation {
    height: 80px;
    background-color: hsla(0, 99%, 65%, 0.591);
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
   
}

#account-numbers {
    border: 0px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: hsla(209, 100%, 66%, 0);
    width: 500px;
    text-align: center;
    font-size: 24px;
}

.bell {
    background: transparent;
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    padding-left: 15px;
    margin: 0px 5px;
}

#account-numbers option {
    background-color: hsla(209, 100%, 66%, 0.591);
}

.clicked {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    flex: 6;
    margin: 10px 5px 10px 5px;
    z-index: 30;
}

.notclicked {
    background: transparent;
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    flex: 6;
    margin: 10px 5px 10px 5px;
     transition-duration: 0.4s;
     z-index: 30;
}

.navigation .notclicked:hover {
    background-color: rgba(255, 255, 255, 0.623);
    border: 0px;
    border-radius: 8px;
    margin: 10px 5px 10px 5px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.username1 button{
background-color: hsla(0, 99%, 65%, 0.591);
border: 0px;
padding-right: 20px;
width: 500px;
border-radius: 13px;
margin: 10px 5px 10px 5px;
}
#username {
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    background-color: hsla(0, 99%, 65%, 0.591);
    border: 0px;
    padding-right: 20px;
    width: 500px;
    border-radius: 13px;
    margin: 20px 5px 10px 50px;
}
#accNum{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.trans {
    font-size: 48px;
    font-family: 'Tajawal';
    margin: 70px 5px 10px 50px
}
.tableContainer{
    display: flex;
    justify-content: center;
}
#summaryPage h1{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-left: 50 px;
}
#summaryPage table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.oddRow{
    background-color: hsla(0, 99%, 65%, 0.591);
}
#summaryPage th{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#summaryPage td{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
}
.oddDataLeft{
    border-top-left-radius: 8px;
    border-Bottom-left-radius: 8px;
    border: 0px;
}
.oddDataRight{
    border-top-right-radius: 8px;
    border-Bottom-right-radius: 8px;
    border: 0px;
}
#b1{
    font-size: 25px;
    background-color: #FF5151;
    border: 0px;
    border-radius: 8px;
}
#b2{
    font-size: 25px;
    background-color: #FF5151;
    border: 0px;
    border-radius: 8px;
}
#b3{
    font-size: 25px;
    
    background-color: #FF5151;
    border: 0px;
    border-radius: 8px;
}
#loansPage th{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#loansPage td{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
}
.bTa{
    font-size: 25px;
    background-color: #FF5151;
    border: 0px;
    border-radius: 8px;
}
.bTd{
    font-size: 25px;
    background-color: #FF5151;
    border: 0px;
    border-radius: 8px;
}
#loansPage h1{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-left: 50 px;
}
#loansPage table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.color-block {
    width: 1184px;
    height: 731px;
    background-color: #FFB9B9;
    border: 0px;
    border-radius: 24px;
    padding: 20px 30px;
    position: absolute;
    height:100vh; display:flex; justify-content: center; align-items: center;
  }
  .color-block-container {
    height:120vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .color-block-text {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #000000;
  }
  .sub-text-container {
    position: absolute;
    top:100px;
    left: 30px;
    padding: 30px;
    margin-top: 20px;
    text-align:left;
  }

  .sub-text {
      font-size: 36px;
      color: #000000;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .loansboxesW {
    background-color: white;
    margin-left: 20px;
    border-radius: 8px;
    padding: 5px;
    font-size: 24px;
    width:200px;
    
  }
.hide {
    display: none;
}
.slowlyhide{
    color:#30502600;
    background-color:#263c5000;
}
.slowlyhideA{
color: rgb(34, 176, 34);
background-color: rgb(34, 176, 34);
}
#loanstrial tr{
    transition-duration:0.5s ;
    cursor:pointer;
}
#loanstrial2 tr{
    transition-duration:0.5s ;
    cursor:pointer;
}
#loanstrial3 tr{
    transition-duration:0.5s ;
    cursor:pointer;
}
.slowlyhideD{
color: red;
background-color: red;
}

.reqK {
    font-size: 48px;
    font-family: 'Tajawal';
    margin: 70px 5px 10px 50px
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardsPage table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#cardsPage th{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#cardsPage td{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
#billsPage th{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#billsPage td{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
#billsPage table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#container{
    width:20px;
    display:flex;
}

.accountsettings{
    width:436px;
    height:100vh;
    border:none;
    z-index: 560;
    position: fixed ;
    top:0px;
    right:-436px;
    font-size: 30px;
    font-weight: bold;
    background-color: #2B2B36;
    display:flex;
    flex-direction: column;
    transition: right 0.4s;
}
.accountsettings h1{
    font-size:40px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    margin-bottom:0px;
}
.accountsettings i{
    margin-left:auto;
    border:none;
    margin-top:40px;
    background-color: #22222200;
    font-size:50px;
    transition-duration: 0.4s;
}
.accountsettings button{
    border: none;
    background-color:white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    font:bold;
    color: #2B2B36;
    border-radius: 20px;
    transition-duration: 0.4s;
    padding:20px 10px;
    margin-top:700px;
   
}
.accountsettings button:hover{
    
    background-color:grey;
    border-radius: 20px;
}
.black{
    color:black;
}
.white{
    color:white;
}
.left{
    right:0px;
}
.back{
    z-index:55;
    position:fixed;
    background-color:rgba(109, 109, 109, 0.418);
    width:100vw;
    height:100vh;
}
.hide {
    display: none;
}
.selector{
    width:520px;
    height:60px;
    background-color: red;
    position:absolute;
    margin-top:10px;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
    left:10px;
    z-index: 20;
    transition: left 0.4s;
}
.goright{
    left:540px;
}
.addkter{
    left:1080px;
}
.addkterawy{
    left:1620px;
}
