body {
    margin: 0px;
    color: #222222;
}

#logo {
    
    background-color: #51ABFF;
    width: 50vw;
    height: 100vh;
    font-family: 'Jacques Francois Shadow', cursive;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0px;
    font-size: 96px;
    margin-left: 30px;
    font-weight: 100;
}

img {
    width: 90%;
    margin-top: -100px;
    margin-left: 100px;
}

#whole {
    display: flex;
    position:relative;
}

.regform {
    display: flex;
    font-family: 'Jacques Francois Shadow', cursive;
    align-items: center;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    

}

.regform h1 {
    font-size: 64px;
}

input {
    width: 509px;
    height: 48px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #222222;
    font-size: 30px;
    font-family: 'Tajawal', sans-serif;
    color: black;
}

button {
    width: 509px;
    border-radius: 12px;
    background-color: #51ABFF;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Tajawal', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

::placeholder {
    color: #222222;
}

.loginform {
    display: flex;
    font-family: 'Jacques Francois Shadow', cursive;
    align-items: center;
    width: 50%;
    flex-direction: column;
    
}

.loginform h1 {
    margin-top: 150px;
    margin-bottom: 60px;
    margin-left: -10px;
}

.loginform input {
    margin-top: 50px;

}

.loginform #password1 {
    margin-bottom: 50px;

}

.loginform #Loginbutton {
    margin-bottom: 50px;
    padding: 15px 10px
}

.loginform #Loginbutton:hover {

    background-color: #71b5f5;
}

.loginform #resetbutton:hover {

    background-color: #c4c4c448;
}

.loginform #resetbutton {
    margin-top: -20px;
    padding: 15px 10px;
    background-color: white;
    color: #222222;
    border: #222222 solid 4px;
}

#text {
    font-family: 'Tajawal', sans-serif;
    font-size: 25px;
}

#forward {
    font-weight: bold
}


a:hover {
    color: #6e6e6e;
    border-bottom: #6e6e6e solid;
}

.regform button:hover {
    background-color: #71b5f5;
}


.error {
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    color: #E42F2F;
    margin: 0px 0px -28px 0px;

}
.errormessage{
    background-color: #e42f2f23 ;
    display:flex;
    width: 509px;
    border: #E42F2F solid ;
    border-radius: 8px;
    align-items: center;
}
.errormessage p{
    font-family: 'Tajawal', sans-serif;
    color: #E42F2F;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    padding-left: 80px;
}
.errormessage i{
    color: #E42F2F;
    padding-left: 30px;
}
.pop{
    height:543px;
    width:739px;
    background-color:white;
    z-index: 10;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -369px; 
    margin-top: -271px;
    display: flex;
    border-radius:15px;
    flex-direction: column;
}
.back{
    z-index:5;
    position:absolute;
    background-color:rgba(109, 109, 109, 0.418);
    width:100vw;
    height:100vh;
}
.pop h1{
    font-family: 'Tajawal', sans-serif;
    font-size:40px;
    font-weight: bold;
    margin-top:30px;
    margin-left:40px;
}
.pop p{
    font-family: 'Tajawal', sans-serif;
    font-size:30px;
    margin-left:30px;
    
}
.pop input{
    background-color: #E2F1FF;
    border : none;
    border-radius: 10px;
    width:600px;
    padding: 20px 10px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size:30px;
    color:#222222;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.pop i{
    font-size:40px;
    margin-left: auto;
    margin-right:20px;
    margin-top:10px;
}
.pop button{
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
}
.pop input::placeholder{
    color:#263c50c0;
}
.pop button:hover{
    background-color: #71b5f5;
}

.hide {
    display: none;
}
