* {
    font-family: 'Tajawal', sans-serif;
}

body {
    margin: 0px;
}

#whole-page {
    display: flex;
    flex-direction: column;
}

#Header {
    display: flex;
    width: 100%;
    background-color: #51ABFF;
    height: 120px;
}

#profile-icon {
    background: transparent;
    border: 0px;
    font-size: 50px;
    margin-top: 20px;
}

#marginer-h1 {
    margin-right: 1030px;
    padding: 0px 0px 0px 61px;
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: 100;
    white-space: nowrap;
    font-size: 50px;
}

#marginer-hello {
    margin-right: 20px;
    padding: 25px 0px 0px 0px;
    white-space: nowrap;
    font-weight: 150;
}

i {
    margin-right: 11px;
}

.navigation {
    height: 80px;
    background-color: hsla(209, 100%, 66%, 0.591);
    display: flex;
    justify-content: space-evenly;
}

#account-numbers {
    border: 0px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: hsla(209, 100%, 66%, 0);
    width: 500px;
    text-align: center;
    font-size: 24px;
}

.bell {
    background: transparent;
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    padding-left: 15px;
    margin: 0px 5px;
}

#account-numbers option {
    background-color: hsla(209, 100%, 66%, 0.591);
}

.clicked {
    background-color: rgba(255, 255, 255, 0.623);
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    flex: 6;
    margin: 10px 5px 10px 5px;
}

.notclicked {
    background: transparent;
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    flex: 6;
    margin: 10px 5px 10px 5px;
}

.navigation button:hover {
    background-color: rgba(255, 255, 255, 0.623);
    border: 0px;
    border-radius: 8px;
    margin: 10px 5px 10px 5px;
}

.show {
    display: block;
}

.availables {
    font-family: 'Tajawal', sans-serif;
    font-size: 38px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}

.transcations {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}

.transcations button{
    display: flex;
    padding-top: 10px;
    width: 275px;
    height: 69px;
    margin-top: 68px;
    border: 0px;
    border-radius: 10px;
    background-color: #51ABFF;
    color: white;
    justify-content: space-around;
}

.transcations button:hover{
    background-color: #3895ec;
}

.summaryTable {
    margin-right: auto;
    margin-left: auto;
    width: 93%;
    text-align: center;
}

.oddRowSummary {
    background-color: #51abff32;
}

.oddRowSummary td {
    border: 0px;
    border-radius: 10px;
}

#cardPage{
    position: relative;
    height: 100%;
}
#bigDiv{
    z-index:9;
    position:absolute;
    background-color:rgba(109, 109, 109, 0.418);
    height: 1327px;
    width: 100%;
    top:0;
    left: 0;
}
.cardInfo{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
}

.cardsList{
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    width: 610px;
    height: 65px;
    background:#B9DEFF;
    border: 0px;
    border-radius: 13px;
}
.cardInfo p{
    font-weight: 600;
    font-size: 36px;
    
}
.tableContainer{
    display: flex;
    justify-content: center;
}
.cardTransactions h1{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-left: 50px;
}
.cardTransactions table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.oddRow{
    background-color: #51ABFF33;
}
.cardTransactions th{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.cardTransactions td{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
}
.cardsDuepayment table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.cardsDuepayment h1{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-left: 50px;
}
.cardsDuepayment th{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.tdWidth{
    width: 500px;
}
.cardsDuepayment td{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    height: 45px;
}
.cardsDuepayment button{
    width: 150px;
    height: 30px;
    background: #51ABFF;
    border-radius: 8px;
    border:0px;
    font-family: 'Tajawal';
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    transition-duration: 0.4s;
}
.cardsDuepayment button:hover{
    background: #206db6;
}
.oddDataLeft{
    border-top-left-radius: 8px;
    border-Bottom-left-radius: 8px;
    border: 0px;
}
.oddDataRight{
    border-top-right-radius: 8px;
    border-Bottom-right-radius: 8px;
    border: 0px;
}
.cardPoints{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.pointGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 35px;
    grid-auto-rows: minmax(100px, auto);
}
.cardPoints h1{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
#h3Rewards{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-left: 20px;
}
.pointGridItem{
    background: rgba(192, 224, 255, 0.41);
    border-radius: 13px;
    width: 255px;
    height: 293px;
    text-align: center;
}
.pointGridItem img{
    margin-top: 15px;
}
.pointGridItem button{
    background: #51ABFF;
    border-radius: 8px;
    width: 192px;
    height: 42px;
    border: 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    transition-duration: 0.4s;
}
.pointGridItem button:hover{
    background: #2765a0;
}
.pointGridItem p{
    font-family: 'Tajawal';
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0px 5px 5px 5px;
    top: 50%;
    left: 50%;
}

.payPop{
    height:600px;
    width:739px;
    background-color:white;
    z-index: 10;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -369px; 
    margin-top: -271px;
    padding-left: 30px ;
    border-radius:15px;
    display: flex;
    flex-direction: column;
}
.payPop span{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 1000;
    font-size: 45px;
}
.payPoptxt{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 520;
    font-size: 45px;
    margin-bottom: 0;
}
.payPoptxt2{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
}
.payPopBox{
    background: #E5F2FF;
    border-radius: 8px;
    border: 0px;
    width: 300px;
    height: 74px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    padding-left: 15px;
    padding-top: 10px;
}
.payPop button{
    width: 306px;
    height: 63px;
    background: #51ABFF;
    border-radius: 13px;
    border: 0;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 35px;
    transition-duration: 0.4s;
}
.payPop button:hover{
    background: #215688;
}
.payPop i{
    font-size:40px;
    margin-left: auto;
    margin-right:20px;
    margin-top:10px;
}
.hide {
    display: none;
}